
{%extends "index.html" %}

{% load staticfiles %}

{%block main%}
<p align="center" class="text-sucess fa-2x"> NUEVA PRODUCCIÓN CIENTÍFICA</p>
<form method="post" class="form-horizontal">
	{% csrf_token%}

	<div class="form-group">
		<label for="{{ form.PROD_TIPO.id_for_label }}"
				class="col-sm-2 control-label">{{ form.PROD_TIPO.label}}</label>
		<div class="col-sm-8">
			{{form.PROD_TIPO}}
		</div>				
	</div>
	<div class="form-group">
		<label for="{{ form.PROD_TITULO.id_for_label }}"
				class="col-sm-2 control-label">{{ form.PROD_TITULO.label}}</label>
		<div class="col-sm-8">
			{{form.PROD_TITULO}}
		</div>				
	</div>
	<div class="form-group">
		<label for="{{ form.PROD_PRIMER_AUTOR.id_for_label }}"
				class="col-sm-2 control-label">{{ form.PROD_PRIMER_AUTOR.label}}</label>
		<div class="col-sm-8">
			{{form.PROD_PRIMER_AUTOR}}
		</div>				
	</div>
	<div class="form-group">
		<label for="{{ form.PROD_FECHA.id_for_label }}"
				class="col-sm-2 control-label">{{ form.PROD_FECHA.label}}</label>
		<div class="col-sm-8">
			{{form.PROD_FECHA}}
		</div>				
	</div>
	<div class="form-group">
		<label for="{{ form.PROD_REPOSI.id_for_label }}"
				class="col-sm-2 control-label">{{ form.PROD_REPOSI.label}}</label>
		<div class="col-sm-8">
			{{form.PROD_REPOSI}}
		</div>				
	</div>
	<div class="form-group">
		<label for="{{ form.PROD_URL.id_for_label }}"
				class="col-sm-2 control-label">{{ form.PROD_URL.label}}</label>
		<div class="col-sm-8">
			{{form.PROD_URL}}
		</div>				
	</div>
	<div class="form-group">
		<label for="{{ form.docentes.id_for_label }}"
				class="col-sm-2 control-label">{{ form.docentes.label}}</label>
		<div class="col-sm-8">
			{{form.docentes}}
		</div>
	</div>>
	<div class="form-group">
		<div class="col-sm-offset2 col-sm-8">
				<input class="btn btn-primary pull-right" type="submit" name="submit" value="Guardar">
		</div>				
	</div>


</form>

{%endblock%}