
{%extends "index.html" %}

{% load staticfiles %}

{%block main%}
<p align="center" class="text-sucess fa-2x"> NUEVO CARGO</p>
<form method="post" class="form-horizontal">
	{% csrf_token%}

	<div class="form-group">
		<label for="{{ form.CAR_NOM.id_for_label }}"
				class="col-sm-2 control-label">{{ form.CAR_NOM.label}}</label>
		<div class="col-sm-8">
			{{form.CAR_NOM}}
		</div>
	</div>
	<div class="form-group">
		<label for="{{ form.CAR_DESCRIP.id_for_label }}"
				class="col-sm-2 control-label">{{ form.CAR_DESCRIP.label}}</label>
		<div class="col-sm-8">
			{{form.CAR_DESCRIP}}
		</div>
	</div>
	<div class="form-group">
		<label for="{{ form.docente.id_for_label }}"
				class="col-sm-2 control-label">{{ form.docente.label}}</label>
		<div class="col-sm-8">
			{{form.docente}}
		</div>
	</div>
	<div class="form-group">
		<label for="{{ form.resolucion.id_for_label }}"
				class="col-sm-2 control-label">{{ form.resolucion.label}}</label>
		<div class="col-sm-8">
			{{form.resolucion}}
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset2 col-sm-8">
				<input class="btn btn-primary pull-right" type="submit" name="submit" value="Guardar">
		</div>				
	</div>


</form>

{%endblock%}